* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
  list-style: none;
}


:root {
  --color-primary: #1CB5E0;
  --color-success: linear-gradient(90deg, rgba(75, 187, 35, 1) 0%, rgba(39, 127, 53, 1) 0%, rgba(76, 175, 80, 1) 100%);
  --color-warning: linear-gradient(90deg, rgba(250, 24, 7, 1) 1%, rgba(255, 128, 17, 1) 50%, rgba(180, 59, 8, 1) 100%);
  --color-danger: linear-gradient(90deg, rgba(75, 187, 35, 1) 0%, rgba(200, 26, 26, 1) 0%, rgba(163, 14, 14, 1) 100%);
  --color-danger-varient: linear-gradient(90deg, rgba(207, 5, 18, 1) 0%, rgba(247, 0, 0, 1) 50%, rgba(207, 5, 18, 1) 98%, rgba(187, 16, 4, 1) 100%);
  --color-white: #fff;
  --color-light: rgba(34, 151, 87, 0.733);
  --color-black: #000;
  --color-bg: radial-gradient(circle at 30% -100%, #151718 25%, rgb(0, 2, 7) 85%, rgb(21, 24, 26) 100%);
  --color-bg1: #08082ec9;
  --color-bg2: radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: black;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.nav__container h4 {
  margin-right: 70px;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background-image: linear-gradient(89.4deg, rgba(194, 0, 39, 1) 0.8%, rgba(10, 35, 104, 1) 99.4%);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-color: white;
  font-weight: 500;
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-primary);
  box-shadow: var(--color-primary);
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(358.4deg, rgba(249, 151, 119, 1) -2.1%, rgba(98, 58, 162, 1) 90%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
  z-index: -1;
}

.btn:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}



/*=========navbar===========*/
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 10001;
}


.window-scroll {
  background-color: rgba(105, 98, 98, 0.322);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#open-menu-btn,
#close-menu-btn {
  display: none;
}

.nav__menu {
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav__menu a:hover,
.nav__menu a.active {
  background: #0bdaff;
}



@media screen and (max-width: 600px) {
  .nav__menu a:hover {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    text-align: center;

  }
  
}

@media screen and (max-width: 1150px) {
  
  .h1 {
    font-size: 10px;
    text-align: justify;
    justify-content: flex-start;
  }

  .overview p {
    justify-content: start;
    text-align: start;
  }

  #nedpic {
    width: 80px;
    padding: 10px;
    font-weight: bold;
  }

  nav button {
    margin-right: -0.5rem;
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
  }

  #open-menu-btn {
    display: flex;
  }

  #close-menu-btn {
    display: none;
  }



  .nav__menu {
    position: fixed;
    top: 5rem;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }

  .nav__menu a {
    width: 100%;
    height: 3rem;
    background: linear-gradient(110.3deg, rgba(73, 93, 109, 1) 4.3%, rgba(49, 55, 82, 1) 96.7%);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    animation: animateNavItems 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }

  .nav__menu a:nth-child(2) {
    animation-delay: 100ms;
  }

  .nav__menu a:nth-child(3) {
    animation-delay: 200ms;
  }

  .nav__menu a:nth-child(4) {
    animation-delay: 300ms;
  }

  .nav__menu a:nth-child(5) {
    animation-delay: 400ms;
  }

  .nav__menu a:nth-child(6) {
    animation-delay: 500ms;
  }

  .nav__menu a:nth-child(7) {
    animation-delay: 600ms;
  }

  .nav__menu a:nth-child(8) {
    animation-delay: 700ms;
  }

  .nav__menu a:nth-child(9) {
    animation-delay: 800ms;
  }

  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }

    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav__menu a:hover {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
  }

  #nedpic {
    margin-left: -2.9rem;
  }


}

section {
  padding: 50px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Overview Section */
/* Set background color and add padding */
.overview {
  background-image: url(/images/try.jpg);
  background-size: cover;
  margin-top: 5rem;
  height: 60vh;
}

/* Center the content within the container */
.overview .container {
  text-align: center;
}

/* Style the heading */
.overview h1 {
  color: white;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Style the paragraph text */
.overview p {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 50px;
  font-weight: bold;
}

/* Add a button for call-to-action */
.overview button {
  background-color: #FFCD00;
  color: #193647;
  border: none;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Hover effect for the button */
.overview button:hover {
  background-color: #193647;
  color: white;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {

  /* Reduce padding and font sizes for better readability */
  .overview {
    padding: 10px 0;
    height: 55vh;
  }

  .overview h1 {
    font-size: 25px;
  }

  .overview p {
    font-size: 14px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .overview button {
    padding: 15px 30px;
    font-size: 16px;
  }
}

/* Aims and Objectives Section */
/* Base styles */
.aims-objectives {
  background-color: black;
  color: white;
  padding: 50px 0;
}

.aims-objectives h2 {
  text-align: center;
  margin-bottom: 50px;
}

.aims-objectives ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aims-objectives li {
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #a0cfff, #b8a8f0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: black;

}

.aims-objectives li:before {
  content: "⚡";
  margin-right: 10px;
}

/* Media queries */
@media (max-width: 768px) {
  .aims-objectives ul {
    flex-direction: column;
    align-items: center;
  }

  .aims-objectives li {
    width: 100%;
    margin: 10px;
  }

  .aims-objectives li:before {
    display: none;
  }
}

@media (max-width: 480px) {
  .aims-objectives h2 {
    font-size: 2rem;
  }

  .aims-objectives li {
    width: 100%;
  }
}






.history {
  background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  padding: 100px 0;
}

.history h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #fdfafa;
}

.history p {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fcfcfc;
  margin-bottom: 30px;
}

.history ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.history li {
  flex-basis: calc(33.33% - 20px);
  background: linear-gradient(to bottom right, #a0cfff, #b8a8f0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;

  border: 1px solid #ddd;
  color: black;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.history li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 244, 244, 0.2);
}

.history li:nth-child(2) {
  transform: rotate(-3deg);
}

.history li:nth-child(3) {
  transform: rotate(3deg);
}

.history li h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.history li p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .history h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .history p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .history ul {
    flex-direction: column;
  }

  .history li {
    flex-basis: 100%;
  }
}

.membership {
  background-color: black;
  padding: 80px 0;
}

.membership h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #f5f3f3;
}

.membership ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.membership li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.membership li:before {
  content: "\2022";
  color: #8bc34a;
  font-size: 20px;
  margin-right: 10px;
}

.membership a.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  background-color: #8bc34a;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .membership h2 {
    font-size: 28px;
  }

  .membership li {
    font-size: 18px;
    line-height: 1.5;
  }

  .membership a.btn {
    font-size: 18px;
    width: 150px;
    padding: 10px 0;
  }
}


.projects {
  background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  padding: 60px 0;
}

.projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  font-size: 3rem;
  color: #fffefe;
  margin-bottom: 20px;
  text-align: center;
}
.inner{
  padding-top: 25px;
}
.projects p {
  font-size: 1.2rem;
  color: rgb(253, 247, 247);
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects li {
  background: linear-gradient(to bottom right, #a0cfff, #b8a8f0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;


  border: 1px solid #ddd;
  border-radius: 4px;
  color: black;
  padding: 30px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.projects li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 244, 244, 0.2);
}

.projects li a {
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}










#nedpic {
  margin-left: -9.3rem;
}



#nedpic {
  margin-top:3px ;
  position: relative;
  width: 100px;
  padding: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* Animations */
.animate-up {
  animation-name: animateUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.animate-down {
  animation-name: animateDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.animate-left {
  animation-name: animateLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.animate-right {
  animation-name: animateRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes animateUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes animateDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes animateLeft {
  from {
    transform:
      translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes animateRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Additional Animations */
.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.animate-fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.sponsor {
  background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  padding: 50px;
  color: #ffffff;
}

.sponsor h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sponsor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sponsor-info .highlight {
  background-color: #4aaf2b;
  padding: 5px;
  font-weight: bold;
}

.sponsor-info img {
  width: 280px;
  height: 180px;
  margin-bottom: 20px;
}

.sponsor-info p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.2;
}

.sponsor-info a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #0077b5;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}

.sponsor-info a:hover {
  background-color: #005682;
}



footer {
  background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
color: #fff;
padding-top: 40px;
padding-bottom: 20px;
font-family: "Montserrat Medium";
}

footer h4 {
font-size: 20px;
margin-bottom: 20px;
}

footer p {
font-size: 16px;
line-height: 1.6;
margin-bottom: 30px;
}

footer ul {
margin: 0;
padding: 0;
list-style: none;
}

footer ul li {
margin-bottom: 10px;
}

footer ul li a {
color: #fcfcfc;
text-decoration: none;
}

footer .col-md-4 {
text-align: center;
}

footer .col-md-4 ul li {
display: inline-block;
margin-right: 10px;
}

footer .col-md-4 ul li:last-child {
margin-right: 0;
}

footer .col-md-4 ul li a i {
font-size: 24px;
}

footer .social-icons li {
display: inline-block;
margin-right: 10px;
}

footer .social-icons li:last-child {
margin-right: 0;
}

footer .social-icons li a {
display: block;
height: 40px;
width: 40px;
border-radius: 50%;
background-color: #fff;
text-align: center;
line-height: 40px;
color: #111;
transition: all 0.3s ease;
}

footer .social-icons li a:hover {
background-color: #3b5998;
color: #fff;
}

footer .footer-bottom {
background-color: #000;
padding: 10px 0;
text-align: center;
}

footer .footer-bottom p {
margin: 0;
font-size: 14px;
color: #fff;
}

footer .useful-links {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 40px;
}

footer .useful-links ul {
margin: 0;
padding: 0;
list-style: none;
}

footer .useful-links ul li {
margin-bottom: 10px;
}

footer .useful-links ul li a {
color: #fff;
text-decoration: none;
font-size: 16px;
}

footer .useful-links ul li a:hover {
color: white;
}
.links li a:hover{
  color: #0bdaff;
}

@media screen and (max-width: 767px) {
footer .col-md-4 {
  margin-bottom: 30px;
}

footer .useful-links {
  flex-direction: column;
}

footer .useful-links ul li {
  margin-bottom: 20px;
}

footer .useful-links ul li:last-child {
  margin-bottom: 0;
}
}

@media screen and (max-width: 767px){
  *{
    max-width: 100%;
    overflow-x: hidden;
  }
  #nedpic{
    float: left;
  margin-left: 0;
  }
  .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5px;
}
}

