
footer {
    background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
  color: #fff;
  margin-top: 150px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Montserrat Medium";
}

footer h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fcfcfc;
  text-decoration: none;
}

footer .col-md-4 {
  text-align: center;
}

footer .col-md-4 ul li {
  display: inline-block;
  margin-right: 20px;
}

footer .col-md-4 ul li:last-child {
  margin-right: 0;
}

footer .col-md-4 ul li a i {
  font-size: 24px;
}

footer .social-icons li {
  display: inline-block;
  margin-right: 10px;
}

footer .social-icons li:last-child {
  margin-right: 0;
}

footer .social-icons li a {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #3b5998;
  text-align: center;
  line-height: 40px;
  color: #111;
  transition: all 0.3s ease;
}

footer .social-icons li a:hover {
  background-color: black;
  color: #fff;
}

footer .footer-bottom {
  background-color: #000;
  padding: 10px 0;
  text-align: center;
}

footer .footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

footer .useful-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

footer .useful-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .useful-links ul li {
  margin-bottom: 10px;
}

footer .useful-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

footer .useful-links ul li a:hover {
  color: white;
}
.links li a:hover{
    color: #0bdaff;
}

@media screen and (max-width: 767px) {
  footer .col-md-4 {
    margin-bottom: 30px;
  }
  
  footer .useful-links {
    flex-direction: column;
  }
  
  footer .useful-links ul li {
    margin-bottom: 20px;
  }
  
  footer .useful-links ul li:last-child {
    margin-bottom: 0;
  }
}
